name: test

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Set download cache
      uses: actions/cache@v2
      with:
        path: ~/.dvm/download
        key: deno-downloaded

    - name: Run test cases
      run: |
        ./test/test_install_version.sh
        ./test/test_alias.sh
        ./test/test_uninstall_version.sh
